.building{
    background-color: #F8E6E0;
}

td{
    width: 50px;
}

tr{
    height: 40px;
}

td div {
    height: 40px;
}

.street{
    background-color: #D8D8D8;
}

div.nodo{
    cursor: pointer;
}



.bootstrap-select.btn-group .dropdown-menu > li > a.special-class-green {
    color: #fff;
    background-color: #4CAF50;
}

.bootstrap-select.btn-group .dropdown-menu > li > a.special-class-emergency {
    color: #fff;
    background-color: #2196F3;
}

