.building{
    background-color: #F8E6E0;
}

td{
    width: 50px;
}

tr{
    height: 40px;
}

td div {
    height: 40px;
}

.street{
    background-color: #D8D8D8;
}

.hospital{
    background: #D8D8D8 url(hospital.png) no-repeat 5px top;
    background-size: 40px;
}

.accidente{
    background: #F8E6E0 url(accidente.png) no-repeat 5px top;
    background-size: 40px;
}

img.ambulancia{
    height: 30px;
    margin-left: 10px;
}

div.nodo{
    cursor: pointer;
}



.bootstrap-select.btn-group .dropdown-menu > li > a.special-class-green {
    color: #fff;
    background-color: #4CAF50;
}

.bootstrap-select.btn-group .dropdown-menu > li > a.special-class-emergency {
    color: #fff;
    background-color: #2196F3;
}

